# Dataset / Data
dataset/
*.zip
*.tar.gz
*.csv
*.jsonl



# Model Weights
*.pth
*.pt
*.onnx
*.gguf
*.bin
*.safetensors
*.ckpt
*.onnx.data

# Checkpoints / Logs


# Python / Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

segformer/library/

# Surya OCR Cache
surya/hub/
surya/xet/